<!doctype html>
<html lang="en">
    <!---header section--->
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@300&display=swap" rel="stylesheet">
        <meta charset="utf-8">
        <title>Chelsea Elrod</title>
        <link rel="stylesheet" href="./styles/main.css">
        <link rel="stylesheet" href="../styles/page.css">
    </head>
    <!---body section--->
    <body style="background-color: teal">

        <nav class="navbar">
            <ul class="nav__list">
                <li class="contact"><a href="./views/contact.html">Contact</a></li>
                <li class="technologies"><a href="./views/techstack.html">Technologies</a></li>
                <li class="home"><a href="../index.html">Home</a></li>
            </ul>
        </nav>
        <header class="subpage__main">
            <h2 class="subpage--contact">Contact Info:</h1>
        </header>

        <main>
        <div class="contact__info">
            <article class="contact_detail">
                <li>Email: celrod0724@gmail.com</li>
                <li>Phone: 931-247-9726</li>
            </article>

        </div>
        </main>
    <!---footer section--->
        <footer class="footer">
            <p>&#169;2022 | Chelsea Elrod</p>
        </footer>